- name: "Run all role tasks for Linux"
  ansible.builtin.include_tasks: run_all_tasks.yml
  vars:
    firefox_sys_settings_file_path: "{{ firefox_linux_sys_settings_file_path }}"
    firefox_sys_redirect_file_path: "{{ firefox_linux_sys_redirect_file_path }}"
    firefox_sys_policies_file_path: "{{ firefox_linux_sys_policies_file_path }}"
    firefox_user_settings_dir: "/home/{{ firefox_user_name }}/{{ firefox_user_settings_subdir }}"
  when: ansible_system == "Linux"

- name: "Run all role tasks for FreeBSD"
  ansible.builtin.include_tasks: run_all_tasks.yml
  vars:
    firefox_sys_settings_file_path: "{{ firefox_freebsd_sys_settings_file_path }}"
    firefox_sys_redirect_file_path: "{{ firefox_freebsd_sys_redirect_file_path }}"
    firefox_sys_policies_file_path: "{{ firefox_freebsd_sys_policies_file_path }}"
    firefox_user_settings_dir: "/home/{{ firefox_user_name }}/{{ firefox_user_settings_subdir }}"
  when: ansible_os_family == "FreeBSD"

