- name: "Export variables for other roles to use"
  ansible.builtin.include_tasks: export_vars/main.yml

- name: "Install main Firefox application"
  ansible.builtin.include_tasks: install/main.yml

- name: "Add optional system-wide Firefox extensions"
  ansible.builtin.include_tasks: sys_extensions/main.yml

- name: "Configure system-wide, default Firefox browser settings"
  ansible.builtin.include_tasks: sys_settings/main.yml

- name: "Configure user Firefox browser settings"
  ansible.builtin.include_tasks: user_settings/main.yml

