// ANSIBLE-MANAGED CONFIGURATION FILE
// vim: set filetype=javascript:
// Purpose:
//   System-wide firefox settings.
// Refs:
//   https://support.mozilla.org/en-US/kb/customizing-firefox-using-autoconfig
//   https://support.mozilla.org/en-US/kb/profiles-where-firefox-stores-user-data
//   https://devdoc.net/web/developer.mozilla.org/en-US/docs/Preferences/A_brief_guide_to_Mozilla_preferences.html
//   https://support.mozilla.org/en-US/kb/customizing-firefox-using-policiesjson
//   https://github.com/mozilla/policy-templates/blob/master/linux/policies.json
//   http://kb.mozillazine.org/About:config_entries
//   https://github.com/pyllyukko/user.js/blob/master/user.js
// View current active preferences:
//   about:config

lockPref("xpinstall.enabled", {{ 'true' if firefox_allow_user_extension_install else 'false' }});

