{
  "policies": {
    "ExtensionSettings": {
      "*": {
        "blocked_install_message": "The system administrator has blocked extension installation.",
        "installation_mode": "blocked"
      }{{ ext_install_entries }}
    }
  }
}

