{
  "policies": {
    "ExtensionSettings": {
      "*": {
        "blocked_install_message": "The system administrator has blocked extension installation.",
        "installation_mode": "{{ 'allowed' if allow_user_extension_install else 'blocked' }}"
      }{{ ext_install_entries }}
    }
  }
}

