// ANSIBLE-MANAGED CONFIGURATION FILE
// vim: set filetype=javascript:
// Purpose:
//   User firefox settings.
// Refs:
//   https://support.mozilla.org/en-US/kb/customizing-firefox-using-autoconfig
//   https://support.mozilla.org/en-US/kb/profiles-where-firefox-stores-user-data
//   https://devdoc.net/web/developer.mozilla.org/en-US/docs/Preferences/A_brief_guide_to_Mozilla_preferences.html
//   https://support.mozilla.org/en-US/kb/customizing-firefox-using-policiesjson
//   https://github.com/mozilla/policy-templates/blob/master/linux/policies.json
//   http://kb.mozillazine.org/About:config_entries
//   https://github.com/pyllyukko/user.js/blob/master/user.js
// View current active preferences:
//   about:config

user_pref("browser.pocket.enabled", {{ 'true' if firefox_enable_pocket_extension else 'false' }});
user_pref("extensions.pocket.enabled", {{ 'true' if firefox_enable_pocket_extension else 'false' }});
user_pref("browser.newtabpage.activity-stream.feeds.section.topstories", {{ 'true' if firefox_enable_pocket_extension else 'false' }});
user_pref("media.eme.enabled", {{ 'true' if firefox_install_google_widevine_drm_addon else 'false' }});
user_pref("browser.newtabpage.enabled", {{ 'true' if firefox_show_menu_page_in_new_tab else 'false' }});
user_pref("browser.newtabpage.activity-stream.feeds.topsites", {{ 'true' if firefox_show_top_sites_row else 'false' }});
user_pref("browser.newtabpage.activity-stream.showSponsored", {{ 'true' if firefox_show_sponsored_in_top_sites_row else 'false' }});
user_pref("browser.newtabpage.activity-stream.showSponsoredTopSites", {{ 'true' if firefox_show_sponsored_in_top_sites_row else 'false' }});
user_pref("browser.newtabpage.activity-stream.asrouter.userprefs.cfr", {{ 'true' if firefox_recommend_extensions else 'false' }});
user_pref("browser.newtabpage.activity-stream.feeds.section.highlights", {{ 'true' if (firefox_show_visited_pages_in_menu_page_highlight_rows or firefox_show_bookmarks_in_menu_page_highlight_rows or firefox_show_downloads_in_menu_page_highlight_rows) else 'false' }});
user_pref("browser.newtabpage.activity-stream.section.highlights.rows", {{ firefox_num_highlight_rows }});
user_pref("browser.newtabpage.activity-stream.section.highlights.includeVisited", {{ 'true' if firefox_show_visited_pages_in_menu_page_highlight_rows else 'false' }});
user_pref("browser.newtabpage.activity-stream.section.highlights.includeBookmarks", {{ 'true' if firefox_show_bookmarks_in_menu_page_highlight_rows else 'false' }});
user_pref("browser.newtabpage.activity-stream.section.highlights.includeDownloads", {{ 'true' if firefox_show_downloads_in_menu_page_highlight_rows else 'false' }});
user_pref("browser.aboutHomeSnippets.updateUrl", {{ 'true' if firefox_show_mozilla_news_in_menu_page else 'false' }});
user_pref("browser.newtabpage.activity-stream.feeds.snippets", {{ 'true' if firefox_show_mozilla_news_in_menu_page else 'false' }});
user_pref("signon.rememberSignons", {{ 'true' if firefox_enable_password_manager else 'false' }});
user_pref("browser.formfill.enable", {{ 'true' if firefox_save_user_form_data else 'false' }});
user_pref("signon.autofillForms", {{ 'true' if firefox_auto_fill_form_data else 'false' }});
user_pref("breakpad.reportURL", "{{ 'https://crash-stats.mozilla.org/report/index/' if firefox_send_app_crash_reports else '' }}");
user_pref("browser.tabs.crashReporting.sendReport", {{ 'true' if firefox_send_browser_tab_crash_reports else 'false' }});
user_pref("browser.crashReports.unsubmittedCheck.enabled", {{ 'true' if firefox_show_crash_report_dialog else 'false' }});
user_pref("browser.discovery.enabled", {{ 'true' if firefox_recommend_extensions else 'false' }});
user_pref("datareporting.healthreport.uploadEnabled", {{ 'true' if firefox_send_tech_interaction_data_to_mozilla else 'false' }});
user_pref("app.shield.optoutstudies.enabled", {{ 'true' if firefox_opt_in_and_send_studies_data_to_mozilla else 'false' }});
user_pref("toolkit.telemetry.pioneer-new-studies-available", {{ 'true' if firefox_opt_in_and_send_studies_data_to_mozilla else 'false' }});
user_pref("network.trr.mode", {{ 2 if firefox_use_dns_over_https else 5 }});
user_pref("dom.security.https_only_mode", {{ 'true' if firefox_enable_https_only_mode else 'false' }});
user_pref("browser.search.widget.inNavBar", {{ 'true' if firefox_show_dedicated_search_bar else 'false' }});
user_pref("browser.search.suggest.enabled", {{ 'true' if firefox_show_live_search_suggestions else 'false' }});
user_pref("browser.urlbar.suggest.searches", {{ 'true' if firefox_show_live_search_suggestions else 'false' }});
user_pref("browser.urlbar.showSearchSuggestionsFirst", {{ 'true' if firefox_show_live_url_bar_search_suggestions_first else 'false' }});
user_pref("browser.urlbar.suggest.bookmark", {{ 'true' if firefox_show_live_url_bar_bookmark_suggestions else 'false' }});
user_pref("browser.urlbar.suggest.engines", {{ 'true' if firefox_show_live_url_bar_search_engine_suggestions else 'false' }});
user_pref("browser.urlbar.suggest.history", {{ 'true' if firefox_show_live_url_bar_history_suggestions else 'false' }});
user_pref("browser.urlbar.suggest.openpage", {{ 'true' if firefox_show_live_url_bar_open_page_suggestions else 'false' }});
user_pref("browser.urlbar.suggest.topsites", {{ 'true' if firefox_show_live_url_bar_top_site_suggestions else 'false' }});
user_pref("browser.urlbar.autoFill", {{ 'true' if firefox_show_urlbar_inline_autocomplete else 'false' }});
user_pref("browser.startup.homepage", "{{ firefox_home_page }}");
user_pref("browser.startup.page", {{ 3 if firefox_show_restored_tabs_on_startup else 1 }});
user_pref("browser.tabs.warnOnClose", {{ 'true' if firefox_warn_on_close_tabs else 'false' }});
user_pref("browser.tabs.loadInBackground", {{ 'true' if firefox_open_new_tab_url_in_background else 'false' }});
user_pref("browser.shell.checkDefaultBrowser", {{ 'true' if firefox_check_if_default_browser else 'false' }});
user_pref("browser.toolbars.bookmarks.showOtherBookmarks", {{ 'true' if firefox_show_other_bookmarks_section else 'false' }});
user_pref("browser.startup.homepage_override.mstone", "{{ 'ignore' if firefox_skip_first_run_pages else '' }}");
user_pref("datareporting.policy.dataSubmissionPolicyBypassNotification", {{ 'true' if firefox_skip_first_run_pages else 'false' }});
user_pref("browser.urlbar.trimURLs", {{ 'true' if firefox_hide_http_in_url_bar else 'false' }});
user_pref("browser.fixup.alternate.enabled", {{ 'true' if firefox_guess_domain_names else 'false' }});
user_pref("print.tab_modal.enabled", {{ 'true' if firefox_use_browser_print_page else 'false' }});
user_pref("app.update.enabled", {{ 'true' if firefox_auto_update_app else 'false' }});
user_pref("extensions.systemAddon.update.enabled", {{ 'true' if firefox_auto_update_system_addons else 'false' }});
user_pref("browser.search.update", {{ 'true' if firefox_auto_update_search_engines else 'false' }});
user_pref("extensions.update.enabled", {{ 'true' if firefox_auto_update_extensions else 'false' }});

